<h2><%= @user.username %>'s Profile</h2>

<div class="profile_user_comments">
  <%# COMMENTS FOR USER GO HERE %>
</div>

<h3><%= @user.username %>'s Goals</h3>
<div class="profile_goals">
  <ul>
    <% @goals.each do |goal| %>
      <% if goal.public || goal.user_id == current_user.id %>
        <li><%= link_to(goal.title, goal_url(goal)) %></li> 
      <% end %>
      <% if goal.user_id == current_user.id %>
        <%= button_to(goal.completed == true ? "Mark as incomplete" : "Mark as complete", goal_url(goal), method: :patch) %>
      <% end %>
    <% end %>
  </ul>
</div>
<%= link_to("All Users", root_url) %>
<br>
<%= link_to("Create Goal", new_goal_url) %>