<div class="show_goal">

  <h3>Goal:</h3>

  <ul>
    <li><h4>Title</h4><%= @goal.title %></li>
    <li><h4>Details</h4><%= @goal.details %></li>
    <li><h4>Visibility</h4><%= @goal["public"] == true ? "Public" : "Private" %></li>
    <li><h4>Status</h4><%= @goal.completed == true ? "Completed" : "Not Completed" %></li>
  </ul>
    <br>
    <% if current_user.id == @goal.user_id %>
      <%= button_to(@goal.completed ? "Mark as incomplete" : "Mark as complete", goal_url(@goal), method: :patch) %>
    <br>
    <%= button_to('Delete this goal', goal_url(@goal), method: :delete) %>
    <% end %>
  <br>
    <div class="goal_comments">
    <h3>Comments:</h3>
      <ul>
        <% @comments.each do |comment| %>
          <li><%= comment.body %></li>
        <% end %>
      </ul>
    <h3>Add a comment</h3>
    <div>
      <%= render "comments/comment_form", comment_type: :goal, goal_id: @goal.id, commentable_type: "Goal", commentable_id: @goal.id %>
    </div>
    </div>
  
</div>