<!DOCTYPE html>
<html>
  <head>
    <title>AaGreatGoals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 style="text-align: center;">Goaling App</h1>
    <div style="color: red;">
      <% flash[:errors].to_a.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
    <div style="color: green;">
    <% if flash[:notice] != nil %>
      <% flash[:notice].each do |notice| %>
        <p><%= notice %></p>
      <% end %>
    <% end %>
    </div>
   
    <% if current_user.nil? %>
      <p><%= link_to("Login", new_session_url) %></p>
      <p>or</p>
      <p><%= link_to("Sign Up", new_user_url) %></p>
    <% else %>
      <p><%= link_to("Logout", session_url(current_user.id), method: :delete) %></p>
    <% end %>
    <% if logged_in? %>
      <%= button_to("Create Goal", new_goal_url, method: :get) %>
    <% end %>
    <%= yield %>
  </body>
</html>
