<!DOCTYPE html>
<html>
  <head>
    <title>AaGreatGoals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash[:errors].to_a.each do |error| %>
      <p><%= error %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
