<!DOCTYPE html>
<html>
  <head>
    <title>AaGreatGoals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash[:errors].to_a.each do |error| %>
      <p><%= error %></p>
    <% end %>
    <% if current_user.nil? %>
      <p><%= link_to("Login", new_session_url) or link_to("Sign Up", new_user_url) %></p>
    <% else %>
      <p><%= link_to("Logout", session_url, method: :delete) %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
